// COLORS
$primary-color: #a13434;
$secondary-color: #832a29;

$white-color: #fff;
$bg-color: rgb(17, 24, 39);

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
